<div class="product-container overflow-y-auto">
  <h2 class="text-center font-bold text-2xl mb-2">Cart</h2>
  <div *ngIf="basket != null && basket.length > 0; else templateEmpty" class="flex flex-wrap mb-8">
    <ng-container *ngFor="let item of basket">
      <div class="w-full mb-8">
        <app-product-card-basket
        [img]="item.image_url"
        [stock]="item.stock"
        [name]="item.productName"
        [numItems]="item.numItems"
        [price]="item.price"
        [description]="item.productDescription"
        [favorite]="item.favorite === 1"
        (numItemsUpdated)="updatedNumItems($event, item);"></app-product-card-basket>
      </div>
    </ng-container>
  </div>
  <ng-template #templateEmpty>
    <p>No hay resultados</p>
  </ng-template>
</div>

<div>
  <div>
    Total amount: {{total | currency}}
  </div>
  <button
    [disabled]="error"
    [class.opacity-50]="error"
    [class.cursor-not-allowed]="error"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Make payment
  </button>
</div>


