<div class="flex">
  <div class="w-9/12 p-8 h-screen overflow-y-auto" #productList>

    <div class="flex">
      <span class="p-1 border bg-gray-200 rounded-md">
        <button class="px-2 py-1 rounded" (click)="loadFavorites();">
          <svg fill="none" viewBox="0 0 24 24" class="h-6 w-6 text-gray-600"><path d="M4 6h16M4 10h16M4 14h16M4 18h16" stroke-linecap="round" stroke-width="2" stroke="currentColor"></path></svg>
        </button>
        <button class="px-2 py-1 bg-white rounded shadow">
          <svg fill="none" viewBox="0 0 24 24" class="h-6 w-6 text-gray-600"><path d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" stroke-width="2" stroke="currentColor"></path></svg>
        </button>
      </span>
    </div>
    <h1 class="text-4xl sm:text-5xl font-bold font-serif leading-tight mb-4 text-center">Product list</h1>

    <app-product-list
    [products]="products"
    (addedProduct)="addedItem($event)"></app-product-list>

    <div class="flex items-center justify-center text-xl text-gray-700">
        <button *ngIf="currentPage > 0" (click)="loadPage(currentPage-1);" class="hover:bg-gray-300 px-3 py-2 rounded" aria-label="Anterior">
            &laquo; Anterior
        </button>
        <button *ngIf="currentPage !== lastPage" (click)="loadPage(currentPage+1);" class="hover:bg-gray-300 px-3 py-2 rounded" aria-label="Anterior">
          Siguiente &raquo;
        </button>
    </div>

  </div>
  <div class="w-3/12 bg-gray-200 p-8 h-screen overflow-y-auto">
    <app-cart></app-cart>
  </div>
</div>
