.loading > div {
  width: 1rem;
  height: 1rem;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
  -webkit-animation: loading 1.4s ease-in-out 0s infinite both;
  animation: loading 1.4s ease-in-out 0s infinite both;
}

.loading > div:nth-child(1) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading > div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes loading {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
