<div class="border border-gray-400 rounded-lg shadow-md p-4 bg-white flex items-start h-full">

  <!-- Product image -->
  <img [src]="img" [alt]="description" class="w-24 mr-4 flex-shrink-0 object-scale-down">

  <!-- Product info -->
  <div class="flex-grow">
    <div class="font-bold text-base mb-1 text-gray-700">{{name}}</div>
    <div class="flex justify-between items-center mb-2">
      <div class="text-gray-800 font-bold mb-1">{{price | currency}}</div>
      <div>{{ stock }} in stock</div>
    </div>
    <div class="flex items-center justify-between">
      <form [formGroup]="addForm">
        <div class="flex items-center border border-gray-500">
          <button
            class="hover:bg-gray-200 text-gray-800 font-bold py-1 px-2 w-8 text-center"
            type="button"
            (click)="substract();">
            -
          </button>
          <input
            required
            [appValidateStock]="stock"
            formControlName="itemsSelected"
            (change)="updatedNumItems($event.target.value)"
            class="appearance-none border-none text-gray-700 py-1 px-2 leading-tight w-12 text-center"
            type="text">
          <button
            class="hover:bg-gray-200 text-gray-800 font-bold py-1 px-2 w-8 text-center"
            type="button"
            (click)="add();">
            +
          </button>
        </div>
      </form>
      <div>{{ stockLeft }} left</div>
    </div>
  </div>

</div>
