<div class="border border-gray-400 dark:border-gray-800 rounded shadow-md p-4 post-container bg-white flex">
  <img [src]="img" [alt]="description" class="w-20 mr-4 flex-shrink-0" loading="lazy">
  <div>
    <div>{{name}}</div>
    <div>{{price | currency}}</div>
    <div>{{stock}} left</div>
    <div>
      <form #addItemForm="ngForm" [formGroup]="addForm">
        <div class="flex items-center py-2">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
            type="button"
            (click)="substract();">
            -
          </button>
          <input
            required
            [appValidateStock]="stock"
            formControlName="itemsSelected"
            id="itemsSelected"
            (change)="updatedNumItems($event.target.value)"
            class="appearance-none bg-transparent border-none text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
            type="text">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
            type="button"
            (click)="add();">
            +
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
